
<!-- --------------- Full File navigation bar cross website ------------ -->

<head>
  <link rel="shortcut icon" type="image/x-icon" href="/data/uploads/2021/10/30/favicon.png" />
</head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MWDK42S');</script>
<!-- End Google Tag Manager -->

{% if header == "mission" or header == "history" or header == "The team" %}
{% endif %}


<header  style="border-bottom: 1px solid grey; ">

  <div  class="fl_left header" style="background-color:;" >
    <a href="/Pservlet/repo/2/index1/"> <img  src="/data/uploads/2020/11/25/logo_Fin5.png" style="width:205px; height:100px" > </a>
  </div>
  
  <nav id="mainav" class="fl_right" style="font-weight:200"  >
    <ul >
        <li><a style="font-weight:100; font-size:12px"  href="/Pservlet/repo/2/index1/">Home</a></li>
        <li class="{{ missionClass }}" ><a style="font-weight:100;  font-size:12px " class="drop" href="#">About us</a>
          <ul>
            <li style="font-weight:100;font-size:12px"><a href="/Pservlet/repo/mission">Mission</a></li>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/history">History</a></li>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/theteam">The team</a></li>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/annualReport">Annual Report</a></li>
            <li><a style="font-weight:100;font-size:12px" href="pages/basic-grid.html"></a></li>
          </ul>
        </li>


	<li><a class="drop bold" style="font-weight:400; font-size:13px color:#C6B477"  href="/Pservlet/repo/mysteryShopper">Services</a>
          <ul>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/mysteryShopper">Mystery Guest Service</a></li>
            <li><a style="font-weight:100;font-size:12px" class="drop" href="/Pservlet/repo/mysteryShopper">Mystery Guest (Audio & Video)</a> </li>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/insightArticles/?articleID=6">Mystery Shopper(on-site)</a></li>
	    <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/insightArticles/?articleID=6">Mystery Shopper(Audio & Video)</a></li>
	    <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/insightArticles/?articleID=6">Mystery Shopper(Online & teleShopping)</a></li>
	    <li><a style="font-weight:100;font-size:12px" href="#">Business Audit (On-site & Online)</a></li>
	    <li><a style="font-weight:400;font-size:14px" href="/Pservlet/repo/mysteryPortal">Client Portal </a></li>
          </ul>
        </li>

	
	<li><a class="drop bold" style="font-weight:100; font-size:12px" href="/Pservlet/repo/insights">INSIGHTS</a>
          <ul>
            <li><a style="font-weight:100;font-size:12px" href="#">Publications</a></li>
            <li><a style="font-weight:100;font-size:12px" class="drop" href="#">Events</a> </li>
            <li><a style="font-weight:100;font-size:12px" href="#">In the Press</a></li>
          </ul>
        </li>
	
	<li class = "drop bold" ><a style="font-weight:100; font-size:12px" href="/Pservlet/repo/expertise">EXPERTISE</a></li>
	
        <li><a class="drop bold" style="font-weight:100; font-size:12px"  href="/Pservlet/repo/altp/">ALTAPURE</a>
          <ul>
            <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/altpSec/">DATA</a></li>
	    <li><a style="font-weight:100;font-size:12px" href="#">GRAPH</a>
              <ul>
                <li><a style="font-weight:100;font-size:12px" href="/Pservlet/repo/graph/">Tensor</a></li>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
            <li><a href="#">Level 2</a></li>
          </ul>
        </li>
	
        <li><a style="font-weight:100 ; font-size:12px" href="/Pservlet/repo/careers/">Careers</a></li>
        <li><a style="font-weight:100; font-size:12px" href="/Pservlet/repo/contact/?ms=F">Contact us&nbsp</a></li>
    </ul>

  </nav>

</header>

